* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;

}

body {
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #243B55, #141E30);

}

 .encabezado {
    height:20vh;
    margin-top: 5rem!important;
    margin-bottom: 1px;
    color:white;
} 
.left-card{
display: flex;
justify-content:end;
flex-direction: column;
}
.right-card{
display: flex;
justify-content: flex-start;
flex-direction: column;
margin-bottom: 1rem;
}


#dia-actual {
    padding: 0;
    margin-top: 0px;
    text-align:start;
    color:aliceblue;
}


#desc {
    margin-top: 0;
    color: aliceblue;
text-align: start;
   
}

#temperatura-valor {
    margin-bottom: 0px;
    padding: 0px;
    color: aliceblue;
    font-size: 120px;
text-align: end;
}

#ubicacion {
    color: aliceblue;
    
}

#viento-velocidad, #humedad, #min, #max, #termica, #sensacion-termica, #encabezado, .dia-1, .dia-2, .dia-3, .dia-4, .dia-5, .dia-6, #amanecer_atardecer, #hora, #minutos, #puntos, #coma {

    color: aliceblue;
}

#proximo {
    color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
margin-bottom: 3.5rem !important;
font-size: 1.2rem !important;
}
button a{
    outline: none;
    text-decoration: none;
    color:aliceblue
}
button a:hover{
color:#1D2E44;
}
 .dia-1, .dia-2, .dia-3, .dia-4, .dia-5, .dia-6, #amanecer_atardecer {
  border-radius: 1rem;  
  padding: 3x;
  box-shadow:
       inset 0 -3em 3em #141E30,
             0 0  0 2px #243B55,
             0.1em 0.1em 1em rgba(0,0,0,0.3);
margin-bottom: 20px!important;
}

.restoDias h4{
    margin-bottom: 0;
}


#amanecer_atardecer {
margin-top: 20px;
max-width:60%;
padding: 1rem;
margin:auto;
}





